@import '@fontsource/geist/latin-400.css';
@import '@fontsource/geist/latin-500.css';
@import '@fontsource/geist/latin-600.css';
@import '@fontsource/geist/latin-700.css';

@import './base.css';

#app {
  min-height: 100vh;
  font-weight: normal;
}
